extends layout

block link
  -var selected = 'נתונים';

block content
  h1 נתוני האזנה
  div
    form.form-inline.jumbotron.p-2(role='form', action='/data', method='get')
      .input-group.mx-sm-3.mb-2
        label.m-1 טווח תאריכים
        input.form-control(type="date" id="fromDate" name="fromDate" placeholder="מתאריך")
        label.m-1 עד
        input.form-control(type="date" id="toDate" name="toDate" placeholder="עד תאריך")
      .form-group.mx-sm-3.mb-2
        label.m-1(for="klass") כיתה
        input.form-control(type="text" id="klass" name="klass" placeholder="כיתה")
      .form-group.mx-sm-3.mb-2
        label.m-1(for="lesson") שיעור
        input.form-control(type="text" id="lesson" name="lesson" placeholder="שיעור")
      .form-group.mx-sm-3.mb-2
        label.m-1(for="teacher") מורה
        input.form-control(type="text" id="teacher" name="teacher" placeholder="מורה")
      .form-group.mx-sm-3.mb-2
        label.m-1(for="seconds") טווח שניות
        input.form-control(type="number" id="fromSeconds" name="fromSeconds" placeholder="החל מ...")
        label.m-1 to
        input.form-control(type="number" id="toSeconds" name="toSeconds" placeholder="עד")
      button.btn.btn-primary.mb-2(type="submit") סנן נתונים


    table.table.table-striped.table-hover.table-sm
      thead
        tr
          each item in headers
            th= item.label
      tbody
        each item in data
          tr
            each header in headers
              td= item[header.value]

  script(src="/scripts/data.js")
