extends layout

block link
  -var selected = 'התחברות';

block content
 .container
   h1 התחברות
   p.lead
     | התחברות לחשבון.
     form(role='form', action='/login', method='post')
       .form-group
         label(for='username') שם משתמש
         input.form-control(type='text', id='user', name='username', placeholder='הכנס שם משתמש')
       .form-group
         label(for='password') סיסמא
         input.form-control(type='password', id='password', name='password', placeholder='הכנס סיסמא')
       button.btn.btn-primary(type='submit') הכנס
       &nbsp;
       a.btn.btn-default(role='button', href='/') ביטול
