extends layout

block link
  -var selected = 'Upload';

block content
  h1 Listening Data
  form(role='form', action='/upload', method='post', encType="multipart/form-data")
    .form-group
      label(for='fileUpload') Upload file
      input.form-control-file(type='file', id='fileUpload', name='fileUpload')
    button.btn.btn-primary(type='submit') Submit
    &nbsp;
    a.btn.btn-default(role='button', href='/') Cancel
